.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.title{
  font-family: 'Roboto', sans-serif;
}

span:hover{
  cursor: pointer;
}